html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #d4af37;
}

.container {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(17, 17, 17, 0.8);
    border: 2px solid #d4af37;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    text-align: center;
    z-index: 10;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #d4af37;
    background: #000;
    color: #d4af37;
}

button {
    cursor: pointer;
}

button:hover {
    background: #d4af37;
    color: #000;
}

#video-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#yt {
    width: 100%;
    height: 100%;
    border: none;
}

#fsBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: #d4af37;
    border: none;
    cursor: pointer;
    z-index: 20;
}
